exportPattern("^[[:alpha:]]+")
exportMethods(
    "[[",
    "A1",
    "A1<-",
    "A2",
    "A2<-",
    "chip",
    "chipId",
    "chrIndices",
    "chrInfo",
    "chrm",
    "chrNames",
    "chrSel",
    "convTo36",
    "convTo37",
    "convTo38",
    "dim",
    "extraColumnSlotNames2",
    "initialize",
    "length",
    "plot",
    "print",
    "QCcode",
    "QCcode<-",
    "QCfail",
    "QCpass",
    "rownames",
    "rownames<-",
    "rs.id",
    "show",
    "ucsc" 
)
exportClasses(
    "ChipInfo" 
)
import(Rcpp, NCmisc)
importFrom(stats, family, pnorm, pt, qnorm, rchisq, rnorm, runif, median, cor, sd)
importFrom(reader, cat.path, reader, shift.rownames )
importFrom(grDevices, dev.off, pdf)
importFrom(graphics, abline, lines, points, rect, text, plot)
importFrom(methods, as, callNextMethod, is, new, prototype, representation, setAs, setClass, setGeneric, setMethod, setValidity)
importClassesFrom(GenomicRanges, GNCList, GRanges, GenomicRanges)
importFrom(GenomicRanges, GRanges, GRangesList)
importMethodsFrom(GenomicRanges, "names<-", length, names, start, end)
importMethodsFrom(GenomicRanges, width, strand, show, findOverlaps)
importMethodsFrom("GenomicRanges", "length", "names", "names<-", "[", "[<-", "[[<-", "$", "$<-")
importMethodsFrom(GenomeInfoDb, "seqlevels", "seqlevels<-", "genome<-", "genome", seqinfo, "seqinfo<-", seqnames, "seqnames<-", "seqlengths")
importClassesFrom(IRanges, RangedData)
importFrom(IRanges, "%over%", IRanges, RangedData, showAsCell, PartitioningByEnd)
importMethodsFrom(IRanges, "colnames<-", "rownames<-", "universe<-", showAsCell)
importMethodsFrom(IRanges, as.data.frame, as.list, as.matrix, cbind, rbind, colnames)
importMethodsFrom(IRanges, end, findOverlaps, subsetByOverlaps, gsub, intersect, lapply)
importMethodsFrom(IRanges, mean, nrow, ncol, order, as.list)
importMethodsFrom(IRanges, ranges, rownames, runLength, space, flank, reduce, resize)
importMethodsFrom(IRanges, start, universe, unlist, width, "start<-", "width<-", "end<-", ranges, "ranges<-")
importFrom("GenomicFeatures", makeTxDbFromUCSC, exonsBy, transcriptsBy)
importMethodsFrom("GenomicFeatures", exonsBy, transcriptsBy, as.list)
importClassesFrom("rtracklayer", ChainFile)
importMethodsFrom("rtracklayer", liftOver, import.chain)
importFrom("biomaRt", useMart, useDataset, getBM)
importClassesFrom(S4Vectors, DataFrame, Rle, Hits)
importFrom(S4Vectors, subjectHits, queryHits, mcols, "mcols<-", head, tail, DataFrame, Rle, runValue)
importClassesFrom("biomaRt", Mart)
importFrom(parallel, mclapply)
importFrom(utils, capture.output, download.file, read.table, write.table, read.delim)
importFrom(graphics, par)
importFrom("genoset", chrIndices, chrInfo, chrNames, "chrNames<-")
importFrom(methods, slot, "slot<-")
importFrom(BiocGenerics, relist)
importFrom(stats, family, pnorm, pt, qnorm, rchisq, rnorm, runif, median, cor, sd)
importFrom(reader, cat.path, reader, shift.rownames )
importFrom(grDevices, dev.off, pdf)
importFrom(graphics, abline, lines, points, rect, text, plot)
importFrom(methods, as, callNextMethod, is, new, prototype, representation, setAs, setClass, setGeneric, setMethod, setValidity)
importFrom(GenomicRanges, GRanges, GRangesList)
importFrom(IRanges, "%over%", IRanges, RangedData, showAsCell, PartitioningByEnd)
importFrom("GenomicFeatures", makeTxDbFromUCSC, exonsBy, transcriptsBy)
importFrom("biomaRt", useMart, useDataset, getBM)
importFrom(S4Vectors, subjectHits, queryHits, mcols, "mcols<-", head, tail, DataFrame, Rle, runValue)
importFrom(parallel, mclapply)
importFrom(utils, capture.output, download.file, read.table, write.table, read.delim)
importFrom(graphics, par)
importFrom("genoset", chrIndices, chrInfo, chrNames, "chrNames<-")
importFrom(methods, slot, "slot<-")
importFrom(BiocGenerics, relist)
importMethodsFrom(GenomicRanges, "names<-", length, names, start, end)
importMethodsFrom(GenomicRanges, width, strand, show, findOverlaps)
importMethodsFrom("GenomicRanges", "length", "names", "names<-", "[", "[<-", "[[<-", "$", "$<-")
importMethodsFrom(GenomeInfoDb, "seqlevels", "seqlevels<-", "genome<-", "genome", seqinfo, "seqinfo<-", seqnames, "seqnames<-", "seqlengths")
importMethodsFrom(IRanges, "colnames<-", "rownames<-", "universe<-", showAsCell)
importMethodsFrom(IRanges, as.data.frame, as.list, as.matrix, cbind, rbind, colnames)
importMethodsFrom(IRanges, end, findOverlaps, subsetByOverlaps, gsub, intersect, lapply)
importMethodsFrom(IRanges, mean, nrow, ncol, order, as.list)
importMethodsFrom(IRanges, ranges, rownames, runLength, space, flank, reduce, resize)
importMethodsFrom(IRanges, start, universe, unlist, width, "start<-", "width<-", "end<-", ranges, "ranges<-")
importMethodsFrom("GenomicFeatures", exonsBy, transcriptsBy, as.list)
importMethodsFrom("rtracklayer", liftOver, import.chain)
importClassesFrom(GenomicRanges, GNCList, GRanges, GenomicRanges)
importClassesFrom(IRanges, RangedData)
importClassesFrom("rtracklayer", ChainFile)
importClassesFrom(S4Vectors, DataFrame, Rle, Hits)
importClassesFrom("biomaRt", Mart)
